@model SAT.UI.MVC.Models.ApplicationUser

@{
    ViewBag.Title = "User Details";
}

<div class="card card-body max800 drop">
    <h2 class="text-center pb-0">@ViewBag.Title</h2>
    <h2 class="text-center pb-2">
         @Html.DisplayFor(model => model.UserName)
    </h2>
    <div class="divCenter p-5 text-center">
        <dl class="dl-horizontal">
            <h4>
                User Name
            </h4>
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
        </dl>
        <h4 class="pt-3">List of roles for this user</h4>
        @if (ViewBag.RoleNames.Count == 0)
        {
            <hr />
            <p>No roles found for this user.</p>
        }
        <table class="table">
            @foreach (var item in ViewBag.RoleNames)
            {
                <tr>
                    <td>
                        @item
                    </td>
                </tr>
            }
        </table>
        <div class="pt-3">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary btn80" })
            <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-primary btn80 mr-0">Return</a>
        </div>
    </div>
</div>
