@model SAT.UI.MVC.Models.AddPhoneNumberViewModel
@{
    ViewBag.Title = "Add Phone Number";
}

<div class="card card-body max800 drop text-center">
    <h2 class="text-center pb-4">@ViewBag.Title</h2>
    <div class="divCenter">
        @using (Html.BeginForm("AddPhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger text-center" })
            <div class="form-group">
                @Html.TextBoxFor(m => m.Number, new { @class = "form-control text-center", placeholder="xxx-xxx-xxxx"})
            </div>
            <div class="form-group">
                <div class="pt-4">
                    <input type="submit" class="btn btn-primary btn80" value="Send verification code" />
                    <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-primary btn80 mr-0">Return</a>
                </div>
            </div>
        }
    </div>
</div>