
<div class="max1000 text-center">
    <h1 class="pb-3">Welcome To Acme's</h1>

    <img src="~/Content/assets/images/Logo-Large.png" alt="Tooniversity Logo" title="Tooniversity Logo" class="max90p mrt" />

    <h3 class="pt-5">Where all your favorite looney-tics got their toon degree!</h3>
    
    <h4 class="pt-4">This site was create for educational purposes only.</h4>
    <p class="pt-4">We here at Acme Tooniversity do not own the rights to these characters or the or any of the content contained within this site, not limited to names, character likenesses, and copyrights. These characters are the sole property of Warner Bros. and have been used here without permission for educational purposes under the fair use guidelines applied to US copyrights. Stay looney friends. </p>
</div>
