<footer class="footer">
    <div class="text-center text-white-50">
        <span>Copyright &copy; @DateTime.Now.Year &nbsp;&nbsp;</span>|<span>&nbsp;&nbsp;Acme Tooniversity&nbsp;&nbsp;</span>|<span>&nbsp;&nbsp;All Rights Reserved</span>
    </div>
</footer>